.page__7 {
  height: 1222px;
  width: 100%;
  background: #000;
  padding-top: 136px;
}

.page__7 .container {
  width: 1320px;
  height: 100%;
  margin: auto;
}

.page__7 .container .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 67px;
}

.page__7 .container .top .top__text {
  max-width: 652px;
}

.page__7 .container .top .top__text h3 {
  display: flex;
  align-items: center;
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #57B8FF;
  margin-bottom: 12px;
}

.page__7 .container .top .top__text h3 img {
  margin-right: 8px;
}

.page__7 .container .top .top__text h1 {
  font-family: 'Orbitron';
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.button {
  background: #57B8FF;
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  text-transform: capitalize;
  padding: 21px 34px;
  color: #FFFFFF;
}

.button:hover {
  color: #FAC422;
}

.page__7 .container .middle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page__7 .container .middle .block-1 {
  width: 648px;
}

.page__7 .container .middle .block-1 img {
  margin-bottom: 54px;
  cursor: pointer;
}

.page__7 .container .middle .block-1 h3 {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #57B8FF;
  margin-bottom: 28px;
  cursor: pointer;
}

.page__7 .container .middle .block-1 h1 {
  font-family: 'Orbitron';
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.page__7 .container .middle .block-2 {
  width: 648px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page__7 .container .middle .block-2 .block-2-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.page__7 .container .middle .block-2 .block-2-2 .block {
  width: 312px;
}

.page__7 .container .middle .block-2 .block-2-2 .block img {
  cursor: pointer;
}

.page__7 .container .middle .block-2 .block-2-2 .block h3 {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #57B8FF;
}

.page__7 .container .middle .block-2 .block-2-2 .block h1 {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 34px;
  text-transform: capitalize;
  color: #FFFFFF;
  text-align: left;

}